h2 {
    margin: 0 0 1rem;
}

.create-content {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
}

.error-message {
    color: red;
    font-weight: bold;
}