.content-card, .content-tags {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem;
    padding: 0 1rem;
    border: 1px solid black;
}

.retrieved {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
    margin: auto;
    height: auto;
    width: 4rem;
}

.first-type {
    background-color: #ffd6ff;
}

.second-type {
    background-color: #c8b6ff;
}

.no-type {
    background-color: #bbd0ff;
}

.exists {
    color: green;
}

.not-exists {
    color: red;
}